.image-viewer{

    position:fixed;
    inset:0;
    z-index:20000;
    display:none;
    align-items:center;
    justify-content:center;
    padding:30px;
    background:rgba(0,0,0,.82);
    cursor:pointer;

}

.image-viewer-open{

    display:flex;

}

.image-viewer-image{

    max-width:calc(100vw - 60px);
    max-height:calc(100vh - 60px);
    object-fit:contain;
    cursor:pointer;

}