html, body {
    margin: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100vh;
}


#editor{

    position:absolute;

    left:20px;
    bottom:20px;

    z-index:2000;

}

#editor-toggle{

    width:48px;
    height:48px;

    border:none;

    border-radius:12px;

    font-size:24px;

    cursor:pointer;

    background:#f3ead1;

    box-shadow:0 2px 8px rgba(0,0,0,.3);

}

#editor-panel{

    display:none;

    margin-bottom:10px;

    padding:10px;

    background:#f3ead1;

    border-radius:12px;

    box-shadow:0 2px 8px rgba(0,0,0,.3);

}

#editor-panel.open{

    display:block;

}

#editor-panel button.active{
    background:#6b8e23;
    color:white;
}

.border-handle{

    width:12px;
    height:12px;

    border-radius:50%;

    background:#fff;

    border:3px solid #ffd400;

    box-sizing:border-box;

}


html, body {
    margin:0;
    height:100%;
}

#app{
    display:flex;
    height:100vh;
}

#map{
    flex:1;
}

#wiki-sidebar{

    width:32%;
    min-width:480px;
    max-width:650px;

    display:flex;
    flex-direction:column;
    height:100vh;

    background: url("Backgrounds/Parchment.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow-y:auto;

    border-left:3px solid #6f5328;

    padding:20px;

    box-sizing:border-box;

    font-family:Georgia, serif;

}

.article img{

    display:block;

    max-width:100%;

    height:auto;

    margin:1em auto;

    border-radius:8px;

}



#search-container{
    position: relative;
    margin-bottom:0px;
}

#search{
    width:100%;
    padding:10px;
    font-size:16px;
    box-sizing:border-box;
    background:#ddd0a5;
}

#search-results{
    display: none;

    position:absolute;
    width:100%;
    background:#f3ead1;
    border:1px solid #8b6f47;

    max-height:250px;
    overflow-y:auto;

    z-index:1000;
}

.search-result{

    padding:10px;
    cursor:pointer;
}

.search-result:hover{

    background:#ddd0a5;
}

.search-result.selected {
    background: #b89b67;
    color: #2d2417;
}



.leaflet-popup-content-wrapper {
    background: url("Backgrounds/Parchment.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #2d2417;
}

.leaflet-popup-tip {
    background: #f3ecd2;
    border: 2px solid #7b5a2b;
}

.leaflet-popup-content {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.5;
}



/* ---------- NPC CARD ---------- */

.npc-card{

    border:3px solid var(--npc-color);

    border-radius:10px;

    overflow:hidden;

    margin-bottom:25px;

    background:rgba(255,255,255,.45);

    box-shadow:0 5px 20px rgba(0,0,0,.25);

}

.npc-banner{

    background:var(--npc-color);

    color:white;

    font-size:34px;

    font-weight:bold;

    padding:12px 20px;

}

.npc-content{

    display:flex;

    gap:25px;

    padding:20px;

}

.npc-left{

    flex-shrink:0;

}

.npc-portrait{

    width:240px;

    border-radius:8px;

    border:3px solid var(--npc-color);

}

.npc-right{

    flex:1;

}

.npc-row{

    display:flex;

    justify-content:space-between;

    padding:10px 0;

    border-bottom:1px solid rgba(0,0,0,.15);

}

.npc-row span:first-child{

    font-weight:bold;

}

.npc-row span:last-child{

    text-align:right;

}

.npc-sidebar{

    position:sticky;

    top:20px;

}



.npc-deceased{

    background: url("Backgrounds/Gravestone.jpg");

    color:#ddd;

}

.npc-deceased .npc-banner{

    background:var(--npc-color);
    filter:grayscale(50%);

}

.npc-deceased .npc-portrait{

    filter:grayscale(50%);

}

.npc-deceased .npc-row{

    border-color:#555;

}



.city-popup {
    width: 280px;
    font-family: Georgia, serif;
}

.city-popup h2 {
    margin: 0;
    color: #3a1d06;
}

.city-type {
    color: #5a5757;
    font-style: italic;
    margin-bottom: 10px;
}

.city-popup p {
    line-height: 1.4;
}

.city-label {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #a77d5b;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.nation-label{
    background: transparent;
    border: none;

    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: bold;

    color: #222;

    white-space: nowrap;
    width:200px;
    text-align:center;

    transform: translateX(-50%);

text-shadow:
0 0 1px #000,
0 0 2px #000,
0 0 3px #fff;
}



#article-layout{

    display:block;
    flex:1;
    overflow-y:auto;

}

#article-sidebar{

    width:100%;

    margin-bottom:25px;

    flex-shrink:0;

    top:20px;

    align-self:flex-start;

}

#article{

    flex:1;
    min-width: 0;

}